{%extends 'home/base.html'%}
{% block content %}
{{block.super}}

<div id="home">
 <h1>I am <em id="name">Tuyisenge Anabella</em> <br> A highly passionate software developer</h1>
</div>

<div class="container demo">
        <div class="content">
           <div id="large-header" class="large-header">
              <canvas id="demo-canvas"></canvas>
              <h1 class="main-title"><span class="thin">Explore</span> Space</h1>
           </div>
        </div>
     </div>
<div id="about"> 

</div>

<div id="projects">

</div>

<div id="skills">

</div>

<div id="contact"></div>
{% endblock %}